.profil-container {
    // border: 2px solid rgb(136, 255, 0);

    display: flex;
    justify-content: space-between;
    padding: 20px;
    // background-color: red;
    height: 100vh;
    // width: 80%;
    margin: 0 auto;


    .profile-section {
        border: 1px solid gray;

        width: 30%;
        height: fit-content;
        // background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile-avatar {
            border: 1px solid gray;

            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 10px;
        }

        .profile-name {
            // border: 2px solid rgb(230, 0, 255);
            // color: black;
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .profile-email {
            // border: 2px solid rgb(255, 0, 0);

            color: #666;
            margin-bottom: 15px;
        }

        .edit-button {
            // border: 2px solid red;

            margin-top: 10px;
        }
    }



    .favorites-section {
        border: 1px solid gray;

        width: 65%;
        // background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .section-title {
            // border: 2px solid red;

            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 20px;
            display: flex;
            gap: 10px;
            align-items: center;

            .favvvv {
                // border: 2px solid red;
            }

            h2 {
                // border: 2px solid red;

            }
        }

        .movies-container {
            // border: 2px solid rgb(0, 76, 255);

            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            .movie-item {
                // border: 2px solid red;

                width: calc(33.333% - 15px);
                background-color: #eaeaea;
                padding: 10px;
                border-radius: 8px;
                text-align: center;
                width: 20%;

                
            }

            .movie-poster {
                // border: 2px solid red;

                width: 100%;
                height: auto;
                border-radius: 8px;
                margin-bottom: 10px;
            }

            .movie-title {
                // border: 2px solid red;

                font-size: 1em;
                font-weight: bold;
                color: #333;
            }
        }
    }

    






}
.modal-content {
    padding: 20px;
    h2 {
        // border: 2px solid red;
        margin-bottom: 10px;
        font-size: 19px;
        font-weight: 700;
    }
    .chakra-form-control-username {
        // border: 2px solid red!important;

      margin-bottom: 1rem;
      
      .chakra-form-label-username {
        //   border: 2px solid rgb(0, 4, 255)!important;
        font-weight: bold;
      }
      
      .chakra-input-username {
        // border: 2px solid rgb(171, 11, 147)!important;

        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
    .chakra-form-control-email {
        // border: 2px solid red!important;
    
      margin-bottom: 1rem;
      
      .chakra-form-label-email {
        //   border: 2px solid rgb(0, 4, 255)!important;
        font-weight: bold;
      }
      
      .chakra-input-email {
        // border: 2px solid rgb(171, 11, 147)!important;
    
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
    .btn-info {
       
        margin-bottom: 7px;
      }

    // .chakra-form-control-password {
    //     // border: 2px solid red!important;
    
    //   margin-bottom: 1rem;
      
    //   .chakra-form-label-password {
    //     //   border: 2px solid rgb(0, 4, 255)!important;
    //     font-weight: bold;
    //   }
      
    //   .chakra-input-password {
    //     // border: 2px solid rgb(171, 11, 147)!important;
    
    //     border: 1px solid #ccc;
    //     border-radius: 4px;
    //   }
    //   .chakra-password-toggle {
    //             // border: 2px solid rgb(171, 11, 147)!important;

    //   }
    // }
   
    .chakra-form-control-imageUrl {
        // border: 2px solid red!important;
    
      margin-bottom: 1rem;
      
      .chakra-form-label-imageUrl {
        //   border: 2px solid rgb(0, 4, 255)!important;
        font-weight: bold;
      }
      
      .chakra-input-imageUrl {
        // border: 2px solid rgb(171, 11, 147)!important;
    
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
      }
      .btn-imgurl {
        // border: 2px solid red;
        margin-top: 17px;
        // margin-left: 150px;

      }
     
    }
    
  }






 