.SingleMovie {
    // border: 2px solid red;
    // padding: 20px;
    text-align: center;
    // position: relative;
    // top: 80px;
    // height: 180vh;
    // height: auto;
    width: 80%;
    margin: 0 auto;
    padding: 20px;




    .MoviePoster {
        // border: 2px solid rgb(132, 255, 0);
        display: flex;
        justify-content: center !important;
        gap: 40px;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        // padding-left: 15px;
        // padding-right: 15px;
        height: auto;
        width: 100% !important;



        .cover {
            // border: 2px solid rgb(132, 255, 0);

            width: 300px;
            // align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // height: 520px;

            .IMG {
                border-radius: 4px;
                border: 5px solid;
                // border: 2px solid red;

            }

            .download {
                // border: 2px solid rgb(132, 255, 0);
                background-color: #6ac045;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 90px;
                margin-top: 10px;
                cursor: pointer;
                border-radius: 8px;
                width: 100%;
                gap: 5px;
                font-weight: 700;

                #ciSavasown {
                    font-size: 20px;
                }
            }

            .watch_now {
                // border: 2px solid rgb(132, 255, 0);
                background-color: #0aad9e;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 93px;
                margin-top: 10px;
                cursor: pointer;
                border-radius: 8px;
                width: 100%;
                font-weight: 700;


            }
        }

        .MovieDetails {
            // border: 2px solid rgb(234, 205, 18);
            // max-width: 600px;
            width: 500px;
            text-align: left;
            display: flex;
            flex-direction: column;

            h2 {
                // border: 2px solid rgb(0, 132, 255);
                // margin: 10px 0;
                font-size: 2.5em;
                margin-bottom: 24px;
                line-height: 42px;
                font-weight: 700;
                width: fit-content;
            }

            .year {
                // border: 2px solid rgb(0, 255, 191);
                width: fit-content;

                line-height: 24px;
                font-size: 1.25em;
                font-weight: 700;

            }

            .genresss {
                // border: 2px solid rgb(0, 200, 255);
                width: fit-content;

                font-size: 1.25em;
                font-weight: 700;
                margin-bottom: 30px;

            }

            .available {
                // border: 2px solid green;
                // float: left !important;
                font-style: italic;
                display: flex;
                flex-wrap: wrap;
                gap: 7px;
                margin-bottom: 20px;
                align-items: center;



                strong {
                    // border: 12px solid gray;

                }

                .BTN-1 {

                    border-radius: 4px;
                    font-size: 1em;
                    padding: 2px;
                    background-color: rgb(11, 11, 11);
                    border: 1px solid gray;
                    color: white;
                }

                .BTN-2 {
                    border-radius: 4px;
                    font-size: 1em;
                    padding: 2px;
                    background-color: rgb(11, 11, 11);
                    border: 1px solid gray;
                    color: white;

                }

                .BTN-3 {
                    border-radius: 4px;
                    font-size: 1em;
                    padding: 2px;
                    background-color: rgb(11, 11, 11);
                    border: 1px solid gray;
                    color: white;

                }

                .BTN-4 {
                    border-radius: 4px;
                    font-size: 1em;
                    padding: 2px;
                    background-color: rgb(11, 11, 11);
                    border: 1px solid gray;
                    color: white;

                }

                .BTN-5 {
                    border-radius: 4px;
                    font-size: 1em;
                    padding: 2px;
                    background-color: rgb(11, 11, 11);
                    border: 1px solid gray;
                    color: white;

                }


            }

            .download-sub {
                // border: 2px solid rgb(0, 255, 183) !important;
                display: flex;
                border-radius: 4px;
                font-size: 1em;
                padding: 5px 12px;
                align-items: center;
                width: fit-content;
                margin-bottom: 20px;
                gap: 3px;
                // background-color: #292423;
                padding: 3px;
                background-color: rgb(11, 11, 11);
                border: 1px solid gray;
                color: white;

                .BtnC_cisav {
                    color: #6ac045;
                    font-size: 20px;
                }
            }

        }

        .like_count {
            // border: 2px solid black;
            display: flex;
            gap: 54px;
            margin-bottom: 15px;
            width: fit-content;


            .heart-icon {
                // border: 2px solid black;
                font-size: 1.7em;
                // width: fit-content;

                // margin-bottom: 5px;
            }

            .like_count_count {
                // border: 2px solid black;
                font-size: 1.15em;
                font-weight: 700;
            }
        }

        .review {
            // border: 2px solid greenyellow;
            margin-bottom: 15px;

            display: flex !important;
            gap: 50px;
            width: fit-content;

            img {
                // border: 2px solid red;
                width: 1.7em !important;

            }

            .reviw_ {
                // border: 2px solid red;

            }

            p {
                // border: 2px solid gray;
                font-size: 1.15em;
                font-weight: 700;
            }

        }

        .audience {
            // border: 2px solid gray;

            display: flex !important;
            margin-bottom: 15px;

            gap: 50px;
            width: fit-content;

            img {
                width: 1.7em !important;

            }

            .audience_ {
                // border: 2px solid red;

            }

            p {
                font-size: 1.15em;
                font-weight: 700;
            }

        }

        .imdh {
            // border: 2px solid blue;
            display: flex !important;
            margin-bottom: 15px;
            align-items: center;
            gap: 27px;
            width: fit-content;


            img {
                width: 2.9em !important;

            }

            p {
                // border: 2px solid gray;
                font-size: 1.15em;
                font-weight: 700;

            }
        }

        .similar_movie {
            // border: 2px solid rgb(39, 6, 171);
            width: 30%;
            text-align: left;
            height: fit-content;




            p {
                // border: 2px solid red;
                font-weight: 700;
                font-size: 16px;
                text-align: left;
                margin-bottom: 5px;
                width: fit-content;
            }

            .same_four_movies {
                // border: 2px solid rgb(166, 255, 0);
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                /* Space between the grid items */
                width: fit-content;

                // margin: 0 auto; 
                img {
                    border-radius: 4px;
                    border: 5px solid;
                    cursor: pointer;
                    // padding: 10px;
                    // border: 2px solid #f8f8f8;
                    text-align: center;
                    width: fit-content;
                    height: 130px;
                }

            }

        }

    }



    .moviegenres {
        // border: 2px solid rgb(255, 0, 170);

        // .tags {
        //     width: fit-content;
        //     // border: 2px solid rgb(255, 0, 170);
        //     display: flex;
        //     gap: 10px;
        //     margin-bottom: 20px;

        //     .tag {
        //         background-color: rgb(11, 11, 11);
        //         border: 1px solid gray;
        //         color: white;
        //         padding: 5px 15px;
        //         border-radius: 3px;
        //     }
        // }

        .vpn-warning {
            background-color: #101010;
            border: 5px solid #00FF00;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            margin-bottom: 20px;


            p {
                color: white;
                margin: 0 0 10px 0;

                span {
                    color: #FFFF00;
                }
            }

            .vpn-button {
                background-color: #00FF00;
                color: #000;
                border: none;
                padding: 10px 20px;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }


    .movie-trailer {
        // border: 11px solid blue;

        // display: flex;
        // // flex-direction: column;
        // justify-content: center;
        align-items: center;
        // padding: 10px;

        .images-container {
            // border: 11px solid rgb(192, 24, 72);
            gap: 4px;

            display: flex;
            justify-content: center;

            .image-container {

                position: relative;

                img {

                    width: 390px;
                    height: 186px;
                    cursor: pointer; // Change cursor to indicate clickable images

                }

                .play-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 3rem;
                    color: white;
                    background: rgba(0, 0, 0, 0.5);
                    border: none;
                    border-radius: 50%;
                    padding: 1rem;
                    cursor: pointer;
                    z-index: 10;
                }
            }

            img {
                cursor: pointer;
                width: 390px;
                height: 186px;
                // margin: 0 5px;
            }
        }

        .video-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw; // Full viewport width
            height: 100vh; // Full viewport height
            background-color: rgba(5, 4, 4, 0.923); // Transparent background for the video container
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9999;
            cursor: pointer; // Ensure clicks are registered on the overlay

            .video-container {
                position: relative;
                width: 45vw; // Medium size for the video
                height: 50vh;
                display: flex;
                align-items: center;
                justify-content: center;

                .close-button {
                    color: white;
                    position: absolute;
                    top: -55px;
                    right: -10px;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    padding: 1rem;
                    border: none;
                }

                .video-player {
                    width: 100%;
                    height: 100%;
                    border: none; // Remove any borders for a clean look
                }
            }
        }

        .image-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            /* Full viewport width */
            height: 100vh;
            /* Full viewport height */
            background-color: rgba(5, 4, 4, 0.923); // Transparent background for the video container
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9999;
            cursor: pointer;
            /* Ensure clicks are registered on the overlay */

            .image-container {
                position: relative;
                width: 70vw; // Medium size for the video
                height: 80vh;
                display: flex;
                align-items: center;
                justify-content: center;

                .close-button-img {
                    color: white;
                    position: absolute;
                    top: -45px;
                    right: -10px;
                    font-size: 1rem;
                    cursor: pointer;
                    z-index: 10;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    padding: 1rem;
                    border: none;

                }

                .prev-button {
                    color: white;
                    font-size: 1rem;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    padding: 1rem;
                    cursor: pointer;
                    border: none;
                }

                .image-player {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    /* Preserve aspect ratio */
                }

                .next-button {
                    color: white;
                    font-size: 1rem;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    padding: 1rem;
                    cursor: pointer;
                    border: none;
                }
            }
        }







    }

    .plot-section {
        // border: 1px solid blue;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        gap: 40px;

        .plot-container {
            // border: 2px solid red;
            // align-items: center;
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start !important;
            gap: 10px;

            .plot-title {
                // color: #FFFF00;
                font-size: 1.25em;
                font-weight: 700;
            }

            .plot-descritption {
                // border: 2px solid red;
                color: #919191;
                line-height: 24px;
                text-align: justify;

            }

            .uploaded-info {
                .uploaded-info-- {
                    color: #919191;
                    line-height: 24px;
                    text-align: justify;

                }

                .date-info-- {
                    color: #919191;
                    line-height: 24px;
                }
            }


        }






        .director-cast {
            // border: 1px solid rgb(255, 166, 0);
            display: flex;
            flex-direction: column;
            width: 30%;
            gap: 20px;


            .director-section {
                border-bottom: 1px solid #919191;
                margin-bottom: 20px;

                // top: 10px;
                .dirctor-title {
                    margin-bottom: 10px;

                    font-size: 1.25em;
                    font-weight: 700;
                    display: flex;
                }

                .director-info {
                    display: flex;
                    gap: 10px;
                    padding: 3px;
                    align-items: center;
                    // margin-bottom: 10px;


                    .director-img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: yellow;
                    }

                    .directror-name {
                        color: #919191;
                        font-size: .95em;
                        font-weight: 700;
                    }
                }
            }

            .cast-section {


                .top-cast-title {
                    font-size: 1.25em;
                    font-weight: 700;
                    display: flex;
                    margin-bottom: 10px;

                }

                .cast-info {
                    border-bottom: 1px solid #919191 !important;
                    display: flex;
                    gap: 10px;
                    padding: 3px;
                    align-items: center;
                    margin-bottom: 10px;
                    // width: auto 0;
                    // border: 2px solid red;



                    .img-cast {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: yellow;
                        // border: 2px solid red;
                    }

                    .cast-name {
                        // border: 2px solid red;
                        color: #919191;
                        font-size: .95em;
                        font-weight: 700;
                        width: 100%;

                    }



                    .cast-name-inmovie {
                        // border: 2px solid red;
                        // color: #919191;
                        font-size: .95em;
                        font-weight: 700;
                        width: 100%;

                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1282px) {}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 780px) {}

@media screen and (max-width: 565px) {}

@media screen and (max-width: 403px) {}

// .SingleMovie {
//     // border: 2px solid red;
//     text-align: center;
//     width: 80%;
//     margin: 0 auto;
//     padding: 20px;




//     .MoviePoster {
//         // border: 2px solid rgb(132, 255, 0);
//         display: flex;
//         justify-content: center !important;
//         gap: 40px;
//         padding: 20px;
//         margin-right: auto;
//         margin-left: auto;
//         height: auto;
//         width: 100% !important;



//         .cover {
//             // border: 2px solid rgb(132, 255, 0);

//             width: 300px;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;

//             .IMG {
//                 // border: 2px solid red;
//                 border-radius: 4px;
//                 border: 5px solid;

//             }

//             .download {
//                 // border: 2px solid rgb(132, 255, 0);
//                 background-color: #6ac045;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 padding: 10px 90px;
//                 margin-top: 10px;
//                 cursor: pointer;
//                 border-radius: 8px;
//                 width: 100%;
//                 gap: 5px;
//                 font-weight: 700;

//                 #ciSavasown {
//                     font-size: 20px;
//                 }
//             }

//             .watch_now {
//                 // border: 2px solid rgb(132, 255, 0);
//                 background-color: #0aad9e;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 padding: 10px 93px;
//                 margin-top: 10px;
//                 cursor: pointer;
//                 border-radius: 8px;
//                 width: 100%;
//                 font-weight: 700;


//             }
//         }

//         .MovieDetails {
//             // border: 2px solid rgb(234, 205, 18);
//             width: 500px;
//             text-align: left;
//             display: flex;
//             flex-direction: column;

//             h2 {
//                 // border: 2px solid rgb(0, 132, 255);
//                 font-size: 2.5em;
//                 margin-bottom: 24px;
//                 line-height: 42px;
//                 font-weight: 700;
//                 width: fit-content;
//             }

//             .year {
//                 // border: 2px solid rgb(0, 255, 191);
//                 width: fit-content;

//                 line-height: 24px;
//                 font-size: 1.25em;
//                 font-weight: 700;

//             }

//             .genresss {
//                 // border: 2px solid rgb(0, 200, 255);
//                 width: fit-content;

//                 font-size: 1.25em;
//                 font-weight: 700;
//                 margin-bottom: 30px;

//             }

//             .available {
//                 // border: 2px solid green;
//                 font-style: italic;
//                 display: flex;
//                 flex-wrap: wrap;
//                 gap: 7px;
//                 margin-bottom: 20px;
//                 align-items: center;



//                 strong {
//                     // border: 12px solid gray;

//                 }

//                 .BTN-1 {

//                     border-radius: 4px;
//                     font-size: 1em;
//                     padding: 2px;
//                     background-color: rgb(11, 11, 11);
//                     border: 1px solid gray;
//                     color: white;
//                 }

//                 .BTN-2 {
//                     border-radius: 4px;
//                     font-size: 1em;
//                     padding: 2px;
//                     background-color: rgb(11, 11, 11);
//                     border: 1px solid gray;
//                     color: white;

//                 }

//                 .BTN-3 {
//                     border-radius: 4px;
//                     font-size: 1em;
//                     padding: 2px;
//                     background-color: rgb(11, 11, 11);
//                     border: 1px solid gray;
//                     color: white;

//                 }

//                 .BTN-4 {
//                     border-radius: 4px;
//                     font-size: 1em;
//                     padding: 2px;
//                     background-color: rgb(11, 11, 11);
//                     border: 1px solid gray;
//                     color: white;

//                 }

//                 .BTN-5 {
//                     border-radius: 4px;
//                     font-size: 1em;
//                     padding: 2px;
//                     background-color: rgb(11, 11, 11);
//                     border: 1px solid gray;
//                     color: white;

//                 }


//             }

//             .download-sub {
//                 // border: 2px solid rgb(0, 255, 183) !important;
//                 display: flex;
//                 border-radius: 4px;
//                 font-size: 1em;
//                 padding: 5px 12px;
//                 align-items: center;
//                 width: fit-content;
//                 margin-bottom: 20px;
//                 gap: 3px;
//                 padding: 3px;
//                 background-color: rgb(11, 11, 11);
//                 border: 1px solid gray;
//                 color: white;

//                 .BtnC_cisav {
//                     color: #6ac045;
//                     font-size: 20px;
//                 }
//             }

//         }

//         .like_count {
//             // border: 2px solid black;
//             display: flex;
//             gap: 54px;
//             margin-bottom: 15px;
//             width: fit-content;


//             .heart-icon {
//                 // border: 2px solid black;
//                 font-size: 1.7em;            }

//             .like_count_count {
//                 // border: 2px solid black;
//                 font-size: 1.15em;
//                 font-weight: 700;
//             }
//         }

//         .review {
//             // border: 2px solid greenyellow;
//             margin-bottom: 15px;

//             display: flex !important;
//             gap: 50px;
//             width: fit-content;

//             img {
//                 // border: 2px solid red;
//                 width: 1.7em !important;

//             }

//             .reviw_ {
//                 // border: 2px solid red;

//             }

//             p {
//                 // border: 2px solid gray;
//                 font-size: 1.15em;
//                 font-weight: 700;
//             }

//         }

//         .audience {
//             // border: 2px solid gray;

//             display: flex !important;
//             margin-bottom: 15px;

//             gap: 50px;
//             width: fit-content;

//             img {
//                 width: 1.7em !important;

//             }

//             .audience_ {
//                 // border: 2px solid red;

//             }

//             p {
//                 font-size: 1.15em;
//                 font-weight: 700;
//             }

//         }

//         .imdh {
//             // border: 2px solid blue;
//             display: flex !important;
//             margin-bottom: 15px;
//             align-items: center;
//             gap: 27px;
//             width: fit-content;


//             img {
//                 width: 2.9em !important;

//             }

//             p {
//                 // border: 2px solid gray;
//                 font-size: 1.15em;
//                 font-weight: 700;

//             }
//         }

//         .similar_movie {
//             // border: 2px solid rgb(39, 6, 171);
//             width: 30%;
//             text-align: left;
//             height: fit-content;




//             p {
//                 // border: 2px solid red;
//                 font-weight: 700;
//                 font-size: 16px;
//                 text-align: left;
//                 margin-bottom: 5px;
//                 width: fit-content;
//             }

//             .same_four_movies {
//                 // border: 2px solid rgb(166, 255, 0);
//                 display: grid;
//                 grid-template-columns: 1fr 1fr;
//                 gap: 20px;
//                 width: fit-content;

//                 img {
//                     border-radius: 4px;
//                     border: 5px solid;
//                     cursor: pointer;
//                     text-align: center;
//                     width: fit-content;
//                     height: 130px;
//                 }

//             }

//         }

//     }



//     .moviegenres {
//         // border: 2px solid rgb(255, 0, 170);

//         // .tags {
//         //     width: fit-content;
//         //     // border: 2px solid rgb(255, 0, 170);
//         //     display: flex;
//         //     gap: 10px;
//         //     margin-bottom: 20px;

//         //     .tag {
//         //         background-color: rgb(11, 11, 11);
//         //         border: 1px solid gray;
//         //         color: white;
//         //         padding: 5px 15px;
//         //         border-radius: 3px;
//         //     }
//         // }

//         .vpn-warning {
//             background-color: #101010;
//             border: 5px solid #00FF00;
//             padding: 20px;
//             border-radius: 5px;
//             text-align: center;
//             margin-bottom: 20px;


//             p {
//                 color: white;
//                 margin: 0 0 10px 0;

//                 span {
//                     color: #FFFF00;
//                 }
//             }

//             .vpn-button {
//                 background-color: #00FF00;
//                 color: #000;
//                 border: none;
//                 padding: 10px 20px;
//                 border-radius: 3px;
//                 cursor: pointer;
//             }
//         }
//     }


//     .movie-trailer {
//         // border: 11px solid blue;
//         align-items: center;

//         .images-container {
//             // border: 11px solid rgb(192, 24, 72);
//             gap: 4px;

//             display: flex;
//             justify-content: center;

//             .image-container {

//                 position: relative;

//                 img {

//                     width: 390px;
//                     height: 186px;
//                     cursor: pointer; 

//                 }

//                 .play-button {
//                     position: absolute;
//                     top: 50%;
//                     left: 50%;
//                     transform: translate(-50%, -50%);
//                     font-size: 3rem;
//                     color: white;
//                     background: rgba(0, 0, 0, 0.5);
//                     border: none;
//                     border-radius: 50%;
//                     padding: 1rem;
//                     cursor: pointer;
//                     z-index: 10;
//                 }
//             }

//             img {
//                 cursor: pointer;
//                 width: 390px;
//                 height: 186px;
//             }
//         }

//         .video-overlay {
//             position: fixed;
//             top: 0;
//             left: 0;
//             width: 100vw; 
//             height: 100vh; 
//             background-color: rgba(5, 4, 4, 0.923); 
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             z-index: 9999;
//             cursor: pointer; 

//             .video-container {
//                 position: relative;
//                 width: 45vw; 
//                 height: 50vh;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 .close-button {
//                     color: white;
//                     position: absolute;
//                     top: -55px;
//                     right: -10px;
//                     background: rgba(0, 0, 0, 0.5);
//                     border-radius: 50%;
//                     padding: 1rem;
//                     border: none;
//                 }

//                 .video-player {
//                     width: 100%;
//                     height: 100%;
//                     border: none; 
//                 }
//             }
//         }

//         .image-overlay {
//             position: fixed;
//             top: 0;
//             left: 0;
//             width: 100vw;
//             height: 100vh;
//             background-color: rgba(5, 4, 4, 0.923); 
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             z-index: 9999;
//             cursor: pointer;

//             .image-container {
//                 position: relative;
//                 width: 70vw; 
//                 height: 80vh;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 .close-button-img {
//                     color: white;
//                     position: absolute;
//                     top: -45px;
//                     right: -10px;
//                     font-size: 1rem;
//                     cursor: pointer;
//                     z-index: 10;
//                     background: rgba(0, 0, 0, 0.5);
//                     border-radius: 50%;
//                     padding: 1rem;
//                     border: none;

//                 }

//                 .prev-button {
//                     color: white;
//                     font-size: 1rem;
//                     background: rgba(0, 0, 0, 0.5);
//                     border-radius: 50%;
//                     padding: 1rem;
//                     cursor: pointer;
//                     border: none;
//                 }

//                 .image-player {
//                     width: 100%;
//                     height: 100%;
//                     object-fit: contain;
//                 }

//                 .next-button {
//                     color: white;
//                     font-size: 1rem;
//                     background: rgba(0, 0, 0, 0.5);
//                     border-radius: 50%;
//                     padding: 1rem;
//                     cursor: pointer;
//                     border: none;
//                 }
//             }
//         }







//     }

//     .plot-section {
//         // border: 1px solid blue;
//         padding-top: 30px;
//         display: flex;
//         justify-content: center;
//         gap: 40px;

//         .plot-container {
//             // border: 2px solid red;
//             width: 70%;
//             display: flex;
//             flex-wrap: wrap;
//             align-content: flex-start !important;
//             gap: 10px;

//             .plot-title {
//                 font-size: 1.25em;
//                 font-weight: 700;
//             }

//             .plot-descritption {
//                 // border: 2px solid red;
//                 color: #919191;
//                 line-height: 24px;
//                 text-align: justify;

//             }

//             .uploaded-info {
//                 .uploaded-info-- {
//                     color: #919191;
//                     line-height: 24px;
//                     text-align: justify;

//                 }

//                 .date-info-- {
//                     color: #919191;
//                     line-height: 24px;
//                 }
//             }


//         }






//         .director-cast {
//             // border: 1px solid rgb(255, 166, 0);
//             display: flex;
//             flex-direction: column;
//             width: 30%;
//             gap: 20px;


//             .director-section {
//                 border-bottom: 1px solid #919191;
//                 margin-bottom: 20px;

//                 .dirctor-title {
//                     margin-bottom: 10px;

//                     font-size: 1.25em;
//                     font-weight: 700;
//                     display: flex;
//                 }

//                 .director-info {
//                     display: flex;
//                     gap: 10px;
//                     padding: 3px;
//                     align-items: center;

//                     .director-img {
//                         width: 40px;
//                         height: 40px;
//                         border-radius: 50%;
//                         background-color: yellow;
//                     }

//                     .directror-name {
//                         color: #919191;
//                         font-size: .95em;
//                         font-weight: 700;
//                     }
//                 }
//             }

//             .cast-section {


//                 .top-cast-title {
//                     font-size: 1.25em;
//                     font-weight: 700;
//                     display: flex;
//                     margin-bottom: 10px;

//                 }

//                 .cast-info {
//                     border-bottom: 1px solid #919191 !important;
//                     display: flex;
//                     gap: 10px;
//                     padding: 3px;
//                     align-items: center;
//                     margin-bottom: 10px;


//                     .img-cast {
//                         // border: 2px solid red;
//                         width: 40px;
//                         height: 40px;
//                         border-radius: 50%;
//                         background-color: yellow;
//                     }

//                     .cast-name {
//                         color: #919191;
//                         font-size: .95em;
//                         font-weight: 700;
//                     }



//                     .cast-name-inmovie {
//                         font-size: .95em;
//                         font-weight: 700;
//                     }
//                 }
//             }
//         }
//     }
// }