.reset-password-container {
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    // background-color: #f5f5f5;
    // position: relative;
    // top: 35px;
    // height: 90vh;
}

.reset-password-card {
    border: 1px solid rgba(227, 213, 213, 0.634);

    // background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;

    .tittle-rest {
        margin-bottom: 1.5rem;
        color: rgba(106, 192, 69, 0.876);
    }

    .input-group {
        margin-bottom: 1rem;

        input {
            width: 100%;
            padding: 0.75rem;
            // border: 1px solid #ddd;
            border-radius: 10px;
            font-size: 1rem;
            transition: border-color 0.3s;

            // &:focus {
            //     border-color:none;
            //     outline: none;
            // }
        }
    }

    .check-and-forget-btn {
        // border: 2px solid red;


        .show-password-label {
            // border: 2px solid red;
            display: flex;
            font-size: 15px;
            align-items: center !important;


            .check-box {
                margin-right: 8px; // Adjust the spacing as needed
                // border: 2px solid red;
                margin-top: 3px;
                border: none;
            }
        }
    }

    .reset-button {
        background-color: rgba(106, 192, 69, 0.876);
        color: #fff;
        ;
        padding: 0.75rem;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgb(106, 192, 69);
        }
    }
}
@media screen and (max-width: 1450px) {

}

@media screen and (max-width: 1000px) {


}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 565px) {

}