    .landingPage {
        border: 2px solid rgb(0, 255, 68);
        // height: 300vh;
        top: 80px;
        position: relative;
        
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding-top: 60px;
        padding-bottom: 30px;
        // width: 1170px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        // background-color: red;
        // width: 0px auto;
height: 320vh;
        .line-section {
            // border-bottom: 1px solid rgba(255, 255, 255, .2);
            // margin-top: 30px;
            border-bottom: 1px solid rgba(227, 213, 213, 0.634);


        }

    }

    // @media screen and (max-width: 900px) {
    //     .landingPage {
    //         // border: 2px solid rgb(0, 255, 68);
    //         padding: 10px!important;
          

    //         .line-section {
    //             border-bottom: 1px solid rgba(255, 255, 255, .2);

    //         }
    //     }
    // }