* {
  box-sizing: border-box;

}
body {
  // border: 2px solid rgb(0, 255, 17);
  height: 100vh;
  background-color: rgba(39, 32, 28, 0.904)!important;
 color: white!important;
 font-family: Arimo, Arial, Helvetica, lucida grande, sans-serif;
 letter-spacing: -.03em;
 font-size: 16px;

}
a {
  text-decoration: none!important;
}

